* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
